{% extends 'base.html.twig' %}

{% block content %}
    <div class="row mt-5 mb-3">
        <div class="col-8 mx-auto h3 text-center text-uppercase">
         {% if article is defined %}
                    Modifier un arcticle        
        {% else %}
                    Ajouter un arcticle
        {% endif %}
          
        </div>
    </div>
    <div class="row">
        <div class="col-8 mx-auto">
            {{ form_start(form, {'attr': {novalidate: 'novalidate'}})}}
                  {{ form_row(form.title) }}
                  {{ form_row(form.subtitle) }}
                  {{ form_row(form.content) }}
                  {{ form_row(form.category) }}
                  {{ form_row(form.photo) }}
                {% if article is defined %}
                    <button type="submit" class="btn btn-warning w-100 btn-dark"> Modifer l' article</button>
                {% else %}
                    <button type="submit" class="btn btn-warning w-100 btn-dark"> Ajouter un article</button>

                {% endif %}
            
            {{ form_end(form)}}
        </div>
    </div>
{% endblock %}


